<div class="card-body">
  <div>
    <p> </p>
  </div>
  <div class="panel panel-blue">
    <div class="panel-heading">&nbsp;&nbsp;<clr-icon shape="view-cards"></clr-icon> รายงาน Hi Report</div>
  </div>
  <!-- <button mat-raised-button color="accent">Accent</button> -->
  <!-- <div>
    <h4 class="card-title">
      <clr-icon shape="view-cards"></clr-icon> รายงาน Hi Report
    </h4>
  </div> -->
  <div>
    <clr-datagrid class="col-lg-10 col-xs-12 col-md-12 col-xl-12">
      <clr-dg-column style="width: 400px;">query_name</clr-dg-column>
      <!-- <clr-dg-column style="width: 200px;">query_params</clr-dg-column> -->
      <clr-dg-column>template</clr-dg-column>
      <clr-dg-column style="width: 150px;">##</clr-dg-column>

      <clr-dg-row *clrDgItems="let item of items">
        <clr-dg-cell>{{item.query_name}}</clr-dg-cell>
        <!-- <clr-dg-cell>{{item.query_params}}</clr-dg-cell> -->
        <clr-dg-cell>{{item.template}}</clr-dg-cell>
        <clr-dg-cell>
          <button class="btn btn-3 btn-sm" (click)="openView(item)">
            <i class="mdi mdi-arrow-right"></i>ออกรายงาน</button>

        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} item
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
        <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50,100]">Users per page</clr-dg-page-size>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
<app-modal-query-view #mdlQuery (onSave)="onSave($event)"></app-modal-query-view>