<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <h3 class="modal-title">{{title_name}}</h3>
  <div class="modal-body">
    <section class="form-block  " *ngIf="params !== null">
      <div class="modal-body  ">
        <form class="form-group  ">

          <div class="row ">
            <div class=" font-weight-bold col-md-5">
              <div class="panel panel-yellow">
                <div class="panel-heading">
                  <clr-icon shape="event"></clr-icon>ค้นหาข้อมูลตามเงื่อนไข
                </div>
              </div>
              <!-- <h4>
                  <clr-icon shape="event"></clr-icon>ค้นหาข้อมูลตามเงื่อนไข
                </h4> -->
            </div>
            <div class="alert alert-info" role="alert">
              <div class="alert-items">
                <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                  </div>
                  <span class="alert-text">หมายเหตุ : {{ comment }}</span>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-7 alert alert-warning">
              <clr-icon shape="pinboard"></clr-icon>หมายเหตุ : {{ comment }}
            </div> -->
          </div>
          <hr>
          <section class="form-block" *ngFor="let xx of param_xx; let idx = index;">
            <div class="clr-form-control">
              <label for="aForm_2" class="clr-control-label">{{ xx }}</label>
              <div *ngIf="xx == 'datestart'">
                <input type="date | Format:dd/mm/yyyy" name="{{xx}}" id="{{xx}}" size="35" value="" #input
                  (input)="KeyParam(xx,input,idx)" class="form-control">
              </div>
              <div *ngIf="xx == 'dateend'">
                <input type="date | Format:dd/mm/yyyy" name="{{xx}}" id="{{xx}}" size="35" value="" #input
                  (input)="KeyParam(xx,input,idx)" class="form-control">
              </div>
              <div class="select" *ngIf="xx == 'month'">
                <select name="xx" id="xx" #input (input)="KeyParam(xx,input,idx)" class="form-control">
                  <option [value]="''">---- เลือกเดือน ----</option>
                  <option [value]="'01'">มกราคม</option>
                  <option [value]="'02'">กุมภาพันธ์</option>
                  <option [value]="'03'">มีนาคม</option>
                  <option [value]="'04'">เมษายน</option>
                  <option [value]="'05'">พฤษภาคม</option>
                  <option [value]="'06'">มิถุนายน</option>
                  <option [value]="'07'">กรกฏาคม</option>
                  <option [value]="'08'">สิงหาคม</option>
                  <option [value]="'09'">กันยายน</option>
                  <option [value]="'10'">ตุลาคม</option>
                  <option [value]="'11'">พฤศจิกายน</option>
                  <option [value]="'12'">ธันวาคม</option>
                </select>
              </div>

              <div class="select" *ngIf="xx == 'yearbudget'">
                <select name="xx" id="xx" #input (input)="KeyParam(xx,input,idx)" class="form-control">
                  <option [value]="''">---- เลือกปี พ.ศ. ----</option>
                  <option [value]="'2020'">2563</option>
                  <option [value]="'2019'">2562</option>
                  <option [value]="'2018'">2561</option>
                  <option [value]="'2017'">2560</option>
                  <option [value]="'2016'">2559</option>
                  <option [value]="'2015'">2558</option>
                  <option [value]="'2014'">2557</option>
                  <option [value]="'2013'">2556</option>
                  <option [value]="'2012'">2555</option>
                  <option [value]="'2011'">2554</option>
                </select>
              </div>

              <div class="select" *ngIf="xx == 'ed'">
                <select name="xx" id="xx" #input (input)="KeyParam(xx,input,idx)" class="form-control">
                  <option [value]="''">---- เลือกยา----</option>
                  <option [value]="'1'">ในบัญชี</option>
                  <option [value]="'0'">นอกบัญชี</option>
                </select>
              </div>
              <div
                *ngIf="xx !== 'datestart' && xx !== 'dateend' && xx !== 'month' && xx !== 'yearbudget' && xx !=='ed'">
                <input type="text" name="xx" id="xx" size="35" value="" #input (keyup)="KeyParam(xx,input,idx)"
                  class="form-control">
              </div>
            </div>
          </section>
        </form>
      </div>
      <div class="form-group ">
        <button type="submit" class=" btn btn-3" (click)="gitShowView()">Ok</button>
      </div>
      <hr>
    </section>

    <section class="form-block">
      <div class="modal-body">
        <div class="row">
          <div class=" font-weight-bold col-md-4"><u>
              <clr-icon shape="bullseye" class="is-solid"></clr-icon>รายงาน :
            </u> </div>
          <div class="col-md-6  font-weight-bold"><u> {{ title_name }}</u>
          </div>
          <div class="col-md-1">
            <section class="form-block " *ngIf="fieldDatas !='' ">
              <button (click)="exportToExcel() " class="btn btn-4">ส่งออก excel</button>
            </section>
          </div>
        </div>
      </div>
      <clr-datagrid [clrDgLoading]="loading">
        <clr-dg-column [clrDgField]="'f'" *ngFor="let f of fieldDatas "> {{f}}</clr-dg-column>
        <clr-dg-placeholder>ไม่พบรายการ</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let d of tableDatas ">
          <clr-dg-cell *ngFor="let x of d; let idx=index; ">
            {{ x }}
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} rows
          <clr-dg-pagination #pagination [clrDgPageSize]="30"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </section>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-5" (click)="dismiss()">ปิด</button>
  </div>
</clr-modal>